{% extends 'base.html' %}

{% block head %}
  <script src="{{ url_for('static', filename='add_class.js') }}" defer></script>
{% endblock %}

{% block header %}
  <h1>{% block title %}Add new class{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="subject">Subject</label>
    <select name="subject_id" id="subject" onchange="guidanceCheck(this.value);">
      {% for subject in subjects %}
        <option value="{{ subject['id'] }}">{{ subject['qualification'] }} {{ subject['name'] }}</option>
      {% endfor %}
    </select>
    <label for="block" class="block">Block</label>
    <select name="block" id="block" class="block" onchange="blockCheck(this.value);">
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="D">D</option>
      <option value="E">E</option>
    </select>
    <label for="single_lesson" class="single_lesson">When is your single lesson?</label>
    <select name="single_lesson_day" class="single_lesson">
      <option value="Monday">Monday</option>
      <option value="Tuesday">Tuesday</option>
      <option value="Thursday">Thursday</option>
      <option value="Friday">Friday</option>
    </select>
    <select name="single_lesson_period" class="single_lesson">
      <option value="1">Period 1</option>
      <option value="2">Period 2</option>
      <option value="3">Period 3</option>
      <option value="4">Period 4</option>
      <option value="5">Period 5</option>
      <option value="6">Period 6</option>
    </select>
    <hr>
    <input type="submit" value="Add class">
  </form> 
{% endblock %}
