{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Compare timetables{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="user">Compare with...</label>
    <select name="users" id="users" multiple>
      {% for user in query %}
        <option value="{{ user['ID'] }}">{{ user['FirstName'] }} {{ user['Surname'] }}</option>
      {% endfor %}
    </select>
    <hr>
    <input type="submit" value="Compare timetables">
  </form> 
  <a href="{{ url_for('timetable.view')  }}">View timetable</a>
{% endblock %}
